<!-- This is the page a user should land on when they log in.  There should be 
buttons for adding restaurants or editing restaurants.  
They should see all of their restaurants. 
 -->
<div class="user-section">
  <div class="section-wrapper">
    <div class="col-sm-12">
      <h1>Welcome <%=@user.email%></h1>
      <!-- <a href="" class="nav-link right orange">DELETE MY ACCOUNT</a> -->
      <%= link_to "DELETE MY ACCOUNT", user_registration_path(resource_name),:class=>'nav-link right orange', :confirm => "Are you sure?", :method => :delete %>
      <div class="blue-form">
        
          <div class="col-sm-12">
            <h2>Account Information</h2>
            <hr>
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
              <%= devise_error_messages! %>
            <div class="col-xs-12 form-row validate name">
              <p class='form-label'>Email</p>
              <%= f.email_field :email %>
              <div class='feedback'><div></div></div>
            </div>
            <div class="col-xs-12 form-row validate name">
              <p class='form-label'>New Password</p>
              <%= f.password_field :password, :autocomplete => "off" %>
              <div class='feedback'><div></div></div>
            </div>
            <div class="col-xs-12 form-row validate name">
              <p class='form-label'>Re-Type Password</p>
              <%= f.password_field :password_confirmation %>
              <div class='feedback'><div></div></div>
            </div>
            <div class="col-xs-12 form-row validate name">
              <p class='form-label'>Current Password</p>
               <%= f.password_field :current_password %>
              <div class='feedback'><div></div></div>
            </div>
            <div class="col-xs-12 form-row">
              <div class="no-label-wrap">
                 <%= f.submit "Update", class:'nav-link' %>
              </div>
            </div>
          <%end%> 
          </div>
        
      </div>

      <div class="tb-wrap">
      <%= link_to "ADD RESTAURANT" , new_user_restaurant_path(current_user), class: "right nav-link add-rest" %><h2>My Restaurants</h2>
            <table class="tablesorter">
              <thead>
                <tr class='order'>
                  <th class="center edit">Edit</th>
                  <th>Restaurant Name</th>
                  <th class="center"># Employees</th>
                  <th class="center">% Trained</th>
                  <th class="center">Approved</th>
                </tr>
              </thead>

              <tbody>
                <% @restaurants.each do |restaurant| %>
                  <tr>
                    <td class="center edit"><a class="edit-button"></a></td>
                    <td class='title'><a class= "modalOpen <%=restaurant.id%> <%=restaurant.user.id%> "><%= restaurant.name %></a><br><%= restaurant.address %></td>
                    <td class="center"><%= restaurant.total_employees %></td>
                    <td class="center"><% percent = (restaurant.aware_employees.length.to_f / restaurant.total_employees.to_f ) * 100 %>
                    <%= percent.round %>
                    </td>
                    <td class="center"><div class="approved <% if !restaurant.approved%> not <% end %>"></div></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="rest-tbl-message">Click on the restaurant name or the edit button to modify individual restaurant information.</div>
    </div>
  </div>
</div>
