<div class="sign-up-section">
	<div class="section-wrapper">
		<ul class="safe-fare-breadcrumb">
			  <li><a href="/">Home > </a></li>
			  <li><a href="/for-restaurants" class=''>For Restaurants ></a></li>
			  <li><a href="" class='active'>Sign Up</a></li>
		</ul>
		<div class="col-sm-8 col-xs-12">
			<h1>Sign Up</h1>
			<p><span style='font-weight:600'>Sign Up!</span> below to set up a free account and add your restaurant to our database. You can sign in and update your account whenever you like.</p>

			<p>If you haven't yet received allergen training, we encourage you to do so! To learn more, please see &#8220;<a href="http://www.servsafe.com/allergens/the-course" rel="external">Allergen Training for Restaurant Staff</a>&#8221;</p>
				<h2>Restaurant Sign Up</h2>
				<div class="contact-form">
					<%= form_for(:user, :url => registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>
						<div class="form-row col-sm-12">
							<p class='form-label'>Name</p>
							<%= f.text_field :name, label: false %>
						</div>
						<div class="form-row col-sm-12">
							<p class='form-label'>Email</p>
							<%= f.text_field :email, label: false %>
						</div>
						<div class="form-row col-sm-12">
							<p class='form-label'>Password</p>
							
							<%= f.password_field :password, label: false %>
							<div style='clear:both'></div>
							<div id='pass_feedback' style='margin-left: 25%;
'>Must Be At Least 8 Characters Long</div>
						</div>
						<div class="form-row col-sm-12">
							<p class='form-label'>Password Confirmation</p>
							<%= f.password_field :password_confirmation, label: false %>
						</div>
						
						<div class="form-row col-sm-12">
							<div class="no-label-wrap">
								<%= f.submit 'SIGN UP', class: 'login orange' %>
								
							</div>
						</div>
						
					<% end %>
				</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<h1>Resource Library</h1>
			<ul class="link-list">
				<li><a href="http://www.foodallergy.org/managing-food-allergies-at/dining-out/training-for-restaurant-employees" title="http://www.foodallergy.org/managing-food-allergies-at/dining-out/training-for-restaurant-employees" rel="external">Allergen Training for Restaurant Staff</a></li>
				<li><a href="http://www.foodallergy.org/managing-food-allergies-at/dining-out/before-you-go" title="http://www.foodallergy.org/managing-food-allergies-at/dining-out/before-you-go" rel="external">Before You Go</a></li>
				<li><a href="http://www.foodallergy.org/managing-food-allergies-at/dining-out/calling-the-restaurant" title="http://www.foodallergy.org/managing-food-allergies-at/dining-out/calling-the-restaurant" rel="external">Calling the Restaurant</a></li>
				<li><a href="http://www.foodallergy.org/managing-food-allergies-at/dining-out/at-the-restaurant" title="http://www.foodallergy.org/managing-food-allergies-at/dining-out/at-the-restaurant" rel="external">At the Restaurant</a></li>
				<li><a href="http://www.foodallergy.org/managing-food-allergies-at/dining-out/insiders-guide" title="http://www.foodallergy.org/managing-food-allergies-at/dining-out/insiders-guide" rel="external">&#8220;Insider&#8217;s Guide to Dining Out&#8221; by Chef Joel Schaefer</a></li>
				<li><a href="http://www.foodallergy.org/document.doc?id=219" title="http://www.foodallergy.org/document.doc?id=219" rel="external">Sample chef card</a></li>
			</ul>
		</div>
	</div>
</div>

