
<div class="search-section">
  <div class="section-wrapper">
    <ul class="safe-fare-breadcrumb">
        <li><a href="/">Home > </a></li>
        <li><a href="" class='active'>Find a Restaurant</a></li>
       
    </ul>
    <div class="col-sm-8 find-a-restaurant">
      <h1>Find a Restaurant</h1>
          <ul class="nav nav-tabs" id="searchTabs">
            <li><a href="#basic" data-toggle="tab">BASIC SEARCH</a></li>
            <li class="active"><a href="#advanced" data-toggle="tab">ADVANCED SEARCH</a></li>          
          </ul>
       <div class="tab-content">
  <div class="tab-pane active" id="advanced">
     <%= form_tag "/results", :method => :get do %>
              <div class="col-xs-12 form-row clearfix validate name">
                <p class='form-label no-padding-top'>Restaurant <br> Name</p>
                <%= text_field_tag :search, params[:search], class:"input" %>
              </div>
              <div class="col-xs-12 form-row clearfix validate name">
                <p class='form-label'>Cuisines</p>
               <%= select_tag(:cuisine_search, options_from_collection_for_select(Cuisine.all, :name, :name), multiple: true,class: "chosen-select req input") %>
              </div>
              <p class="disclaim">Please begin by entering in a cuisine type.  Your cuisine will be autofill. 
                You can choose multiple cuisines.</p>
                <div class="col-xs-12 form-row clearfix validate name">
                  <p class='form-label'>Neighborhood</p>
                 <%= select_tag(:hood_search, options_from_collection_for_select(Neighborhood.all, :name, :name), multiple: true,class: "chosen-select req input") %>
                  <span class='feedback'></span>
              </div>
               <div class="col-xs-12 form-row clearfix validate name">
                <p class='form-label'>City</p>
                <%= text_field_tag :city_search, params[:city_search], class:"input" %>
              </div>
               <div class="col-xs-12 form-row clearfix validate name">
                <p class='form-label'>State</p>
               <%= select_tag(:state_search, options_from_collection_for_select(State.all, :abbreviation, :abbreviation), multiple: false, include_blank: '', class: "req input") %>
                <span class='feedback'></span>
                </div>
                <div class="col-xs-12 form-row clearfix validate name">
                <p class='form-label'>ZIP</p>
                <%= text_field_tag :zip_search, params[:zip_search], class:"input" %>
              </div>
               <div class="col-xs-12 form-row clearfix validate name">
                <p class='form-label'>Within</p>
               <%= select_tag(:within, "<option>&nbsp;</option><option>5 miles</option><option>10 miles</option><option>20 miles</option><option>40 miles</option>".html_safe,class: "req input") %>
              </div>
              <div class="col-xs-12 form-row clearfix validate name check">
                  <p class='form-label'>Kid Friendly</p>
                  <div class="role-container">
                    <div class="role-group kids">
                      <%= radio_button_tag :for_kids, true %>
                      <%= label_tag "Yes" %>
                    </div>
                    <div class="role-group kids">
                      <%= radio_button_tag :for_kids, false %>
                      <%= label_tag "No" %>
                    </div>
                    <div class="role-group kids">
                      <%= radio_button_tag :for_kids, "don't care" %>
                      <%= label_tag "Don't Care" %>
                    </div>
                  </div>
              </div>
            <div class="col-sm-12 form-row clearfix">
              <p class='form-label no-padding-top'>Trained<br> Employee Role</p>
              <div class="role-container">
                 <% Role.all.each do |ro|%>
                   <div class="role-group">
                   <%= check_box_tag "worker_role[]", ro.role %>
                   <%= label_tag(:worker_role, ro.role) %>
                   </div>
                <% end %>
              </div>
               <p class="disclaim">To learn which employee(s) have completed a food allergy training program, please check off the appropriate box.</p>
          </div> 
          <%= submit_tag "SUBMIT", :name => nil, class:"small-left" %>
      <% end %>
  </div>

  <div class="tab-pane" id="basic">
    <form name="search" action="/results" method="get">
      <div class="col-sm-12 form-row clearfix">
        <p class='form-label'>Search For</p>
          <input type="text" name="search" id='search' class='input'placeholder='Restaurant, Cuisine, etc.'>
      </div>
       <div class="col-sm-12 form-row clearfix">
        <p class='form-label'>Near</p>
          <input type="text" name="address" class='input'id='address' placeholder='Address, ZIP, etc.'>
        </div>
          <input type="submit" name="nil" style='display:block'data-role='none'id='submit-search' value='SUBMIT' >
        </form>
  </div>
</div>        
    </div>
    <div class="col-sm-4 right-side">
      <a href="/for-diners" class='for_diners'></a>
        <div class="col-md-12 margin-top"> 
          <h2 class="orange-header" style='text-align:left; padding-bottom:5px;'>
            For Restaurants</h2>
            <p style='text-align:left;'>Have you completed the ServSafe® Allergens Online Course or AllerTrain™?  Add your restaurant to our searchable database by setting up a free account here.</p>
              <div class="nav-link signup orange"><a href="/users/sign_up">SIGN UP</a></div>
              <p style='text-align:left;margin-top:15px;'>Learn more about the National Restaurant Association’s <a href='http://www.servsafe.com/allergens'>ServSafe Allergens® Online Course</a>
  Learn more about MenuTrinfo’s <a href='http://www.menutrinfo.com/allergy-training'>AllerTrain™ classes</a></p>
        </div>
       
    
    </div>
  </div>
</div>
<div style='clear:both'></div>

<br>
<br>

<script>
  $('.chosen-select').chosen({placeholder_text_multiple: '-------------------'});
</script>
