
<div class="search-section">
  <div class="section-wrapper">
    <ul class="safe-fare-breadcrumb">
        <li><a href="/">Home > </a></li>
        <li><a href="" class='active'>Find a Restaurant</a></li>
       
    </ul>
    <div class="col-sm-8 find-a-restaurant">
      <h1>Find a Restaurant</h1>
          <ul class="nav nav-tabs" id="searchTabs">
            <li><a href="#basic" data-toggle="tab">BASIC SEARCH</a></li>
            <li class="active"><a href="#advanced" data-toggle="tab">ADVANCED SEARCH</a></li>          
          </ul>
       <div class="tab-content">
  <div class="tab-pane active" id="advanced">
     <%= form_tag "/results", :method => :get do %>
              <div class="col-xs-12 form-row clearfix validate name">
                <p class='form-label'>Restaurant Name:</p>
                <%= text_field_tag :search, params[:search], class:"input" %>
                <span class='feedback'></span>
              </div>
               <div class="col-xs-12 form-row clearfix validate name">
                <p class='form-label'>Cuisines:</p>
               <%= select_tag(:cuisine_search, options_from_collection_for_select(Cuisine.all, :name, :name), multiple: true,class: "chosen-select req input") %>
                <span class='feedback'></span>
              </div>
              <div class="col-xs-12 form-row clearfix validate name">
                <p class='form-label'>Address:</p>
                <%= text_field_tag :address, params[:address], class:"input" %>
                <span class='feedback'></span>
              </div>
              <div class="col-xs-12 form-row clearfix validate name">
                <p class='form-label'>City:</p>
                <%= text_field_tag :city, params[:city], class:"input" %>
                <span class='feedback'></span>
              </div>
              <div class="col-xs-12 form-row clearfix validate name">
                <p class='form-label'>State:</p>
               <%= select_tag(:state_search, options_from_collection_for_select(State.all, :abbreviation, :abbreviation), multiple: false,class: "req input") %>
                <span class='feedback'></span>
              </div>
              <div class="col-xs-12 form-row clearfix validate name">
                <p class='form-label'>Neighborhood:</p>
               <%= select_tag(:hood_search, options_from_collection_for_select(Neighborhood.all, :name, :name), multiple: true,class: "chosen-select req input") %>
                <span class='feedback'></span>
              </div>
              <div class="col-xs-12 form-row clearfix validate name">
                <p class='form-label'>Zip:</p>
                <%= text_field_tag :zip, params[:zip], class:"input" %>
                <span class='feedback'></span>
              </div>
              <div class="col-xs-12 form-row clearfix validate name">
                <p class='form-label'>Within:</p>
               <%= select_tag(:within, "<option>5 miles</option><option>10 miles</option><option>15 miles</option>".html_safe,class: "req input") %>
                <span class='feedback'></span>
              </div>
            
            <div class="col-sm-12 form-row clearfix">
              <p class='form-label'>Trained Employee Role</p>
              <div class="role-container">
                 <% Role.all.each do |ro|%>
                   <%= check_box_tag "worker_role[]", ro.role %>
                   <%= label_tag(:worker_role, ro.role) %>
                <% end %>
            
              </div>
          </div> 
          <%= submit_tag "Search", :name => nil %>
      <% end %>
  </div>

  <div class="tab-pane" id="basic">
    <form name="search" action="/results" method="get">
      <div class="col-sm-12 form-row clearfix">
        <p class='form-label'>Search For:</p>
          <input type="text" name="search" id='cuisine' class='input'placeholder='Restaurant, Cuisine, etc.'>
      </div>
       <div class="col-sm-12 form-row clearfix">
        <p class='form-label'>Near:</p>
          <input type="text" name="location" class='input'id='free-text' placeholder='Address, Zip, etc.'>
        </div>
          <input type="submit" name="nil" style='display:block'data-role='none'id='submit-search' value='' >
        </form>
  </div>
 
</div>
           
    </div>
    <div class="col-sm-4 right-side">
      <%= image_tag("food-resources.png", :alt => "temp thumbnail") %>
        <div class="col-md-12 margin-top"> 
          <h2 class="orange-header" style='text-align:center'>
            For Restaurants</h2>
            <p style='text-align:left;'>Have you completed the ServSafe® Allergens Online Course or AllerTrain™?  Add your restaurant to our searchable database by setting up a free account here.</p>
        </div>
       
    
    </div>
  </div>
</div>
<div style='clear:both'></div>

<br>
<br>

<script>
  $('.chosen-select').chosen({placeholder_text_multiple: '-------------------'});
</script>
