<div class="results-section">
  <div class="section-wrapper">

    <ul class="safe-fare-breadcrumb">
        <li><a href="/">Home > </a></li>
        <li><a href="/find-a-restaurant">Find a Restaurant > </a></li>
        <li><a href="" class='active'>Search Results</a></li>
    </ul>
    <div class="col-xs-12">
      <h2 class="orange-header">Search Results</h2>
      <p style='margin:15px 0px;'>Didn't find what you are looking for? <a href='/find-a-restaurant'>Search Again?</a></p>
      <div class="map-wrap"><div id="map-canvas" ></div></div>
      <div class="search-count"><%= @restaurants.length %> OF <%= @restaurants.length %> RESTAURANTS</div>
      <h2 class="map-trig">View Map of Results</h2>
      <div class="tb-wrap">
        <table class="tablesorter">
          <thead>
            <tr class='order'>
              <th>Restaurant Name</th>
              <th class="center hide-on-small">Cuisine</th>
              <th class="center hide-on-small">Neighborhoods</th>
              <th class="center hide-on-small">City</th>
              <th class="center">ZIP</th>
              <th class="center hide-on-medium">Staff<br>Trained</th>
              <th class="center hide-on-medium">Kid <br>Friendly</th>
              <th class="center">Phone</th>
            </tr>
          </thead>
          <tbody>
            <% @restaurants.each do |restaurant| %>
              <tr>
                <td class='title'>
                  <a href="/users/<%=restaurant.user.id%>/restaurants/<%=restaurant.id%>" class= "modalOpen <%=restaurant.id%> <%=restaurant.user.id%> "><%= restaurant.name %></a>
                  <p><%= restaurant.address %></p>
                </td>
                <td class="center hide-on-small"><% restaurant.cuisines.each do |x| %>
                    <%= x.name+' ' %> <br>
                    <%end%>
                  </td>
                  <td class="center hide-on-small"><% restaurant.neighborhoods.each do |x| %>
                    <%= x.name+' ' %><br>
                    <%end%>
                  </td>
                <td class="center hide-on-small"><%= restaurant.city %></td>
                 <td class="center"><%= restaurant.zip %></td>
                  <% @roles = [] %>
                 <td class="center hide-on-medium"><% restaurant.aware_employees.each do |emp| %>
                        <%  emp.roles.each do |role| %>
                          <% if @roles.include?(role.role) %>
                          <% else %>
                            <%= role.role%><br>
                            <% @roles << role.role %>
                          <% end %>  
                        <%end%>  
                      <%end%>  
                 </td>    
                <td class="center hide-on-medium"><%= restaurant.kid_friendly? %></td>
                <td class="center"><a href="tel:<%= restaurant.phone %>"><%= restaurant.phone %></a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
 </div> 
<% if @restaurants.length != 0 %>
  <script>
    var search_results = []
    var bounds = new google.maps.LatLngBounds(
          new google.maps.LatLng("<%=@restaurants.first.latitude%>","<%=@restaurants.first.longitude%>"),
          new google.maps.LatLng("<%=@restaurants.last.latitude%>","<%=@restaurants.last.longitude%>")
         )
    var infowindows=[]
  </script>
<%end%>
<% @restaurants.each do |restaurant| %>
  <script>
     var latLng = new google.maps.LatLng("<%=restaurant.latitude%>", "<%=restaurant.longitude%>");
     console.log(latLng)
     search_results.push({
      location: new google.maps.LatLng("<%=restaurant.latitude%>", "<%=restaurant.longitude%>"),
      name: "<%=restaurant.name%>",
      phone:"<%=restaurant.phone%>",
      address: "<%=restaurant.address%>"
      });
  </script>
<% end %>
<script>
var fullBounds = new google.maps.LatLngBounds();
  var markers = [];
  var iterator = 0;
  var marker;
  function show_initialize() {
    var mapOptions = {
      zoom: 9,
      center: bounds.getCenter()
    };
      map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      
  }
  function drop() {
    for (var i = 0; i < search_results.length; i++) {
      setTimeout(function() {
        addMarker();
      }, i * 200);
    }
  }
  function addMarker() {
    var bodyCont = "<div>" + search_results[iterator].address + "<br>" + search_results[iterator].phone + "</div>";
    markers.push(new google.maps.Marker({
      position: search_results[iterator].location,
      map: map,
      draggable: false,
      title: search_results[iterator].name,
      content: bodyCont,
      animation: google.maps.Animation.DROP
    }));
     infowindow = new google.maps.InfoWindow({
    });
    google.maps.event.addListener(markers[iterator], 'click', function() {
      infowindow.setContent("<h1>"+ this.title + "</h1>" + this.content)
      infowindow.open(map,this);
    });
    var lat=parseFloat(markers[iterator].position.d) ;
    var lon=parseFloat(markers[iterator].position.e);
    var point= new google.maps.LatLng(lat,lon);
    fullBounds.extend(point);
    map.fitBounds(fullBounds);
    iterator++;
  }
  google.maps.event.addDomListener(window, 'load', show_initialize);

  $(document).ready(function(){
    $(".tablesorter").tablesorter(); 
    $('.map-trig').on('click',function(){
      $(this).css('visibility', 'hidden');
      $('.map-wrap').toggleClass('active');
      drop();
    })
  })
 </script>


