<div class="contact-section">
	<div class="section-wrapper">
		<ul class="safe-fare-breadcrumb">
			  <li><a href="/">Home > </a></li>
			  <li><a href="" class='active'> Contact Us</a></li>
		</ul>
		<div class="col-sm-8 col-xs-12">
			<h2 class="orange-header">Contact Us</h2>
			<p>Please fill in the fields below to contact us</p>
			<div class="contact-form">
				<%= simple_form_for @contactform, url: "/submit", method: :post do |f| %>
					<div class="col-sm-12 form-row">
						<p class='form-label'>Name</p>
						<%= f.input :name, label: false, input_html: { class: "right" }%>
					</div>
					<div class="col-sm-12 form-row">
						<p class='form-label'>I Am</p>
						<div class="i-am-cat right">
						<%= f.input :parent, label: "A Parent" ,as: :boolean%>
						<%= f.input :restaurant_owner, label: "A Restaurant Owner" ,as: :boolean%>
						<%= f.input :employee, label: "A Restaurant Employee" ,as: :boolean%>
						<%= f.input :member, label: "A Person Managing Food Allergies" ,as: :boolean%>
						<%= f.input :other, label: "Other" ,as: :boolean%>
						</div>
					</div> 
					<div class="col-sm-12 form-row">
						<p class='form-label'>Email</p>
						<%= f.input :email, label: false, input_html: { class: "right" }  %>
					</div>
					<div class="col-sm-12 form-row">
						<p class='form-label'>Zip Code</p>
						<%= f.input :zip, label: false, input_html: { class: "right" }  %>
					</div>

					<div class="col-sm-12 form-row">
						<p class='form-label'>Subject</p>
						<%= f.input :subject, label: false, input_html: { class: "right" }  %>
					</div>
		
					<div class="col-sm-12 form-row">
						<p class='form-label'>Message</p>
						<%= f.input :message, label: false, :as => :text, input_html: { class: "right" }  %>
					</div>
					<div style='clear:both'></div>
					<div class="nav-link">
						<div style='font-size:18px; color:white;' class='sub_form'>Contact Us</div>
					</div>
					<%= f.submit :class => "inactive submit"%>
				<%end%>
			</div>
			<div style='clear:both;'></div>
		</div>
		<div class="col-sm-4 col-xs-12 right ">
			<h2 class="orange-header">National Offices</h2>
			<h2 class="blue-header">National Headquarters</h2>
			<p style='padding:2.5px 0px'>7925 Jones Branch Drive</p>
			<p style='padding:2.5px 0px'>Suite 1100</p>
			<p style='padding:2.5px 0px'>McLean, VA 22102</p>
			<p style='padding:2.5px 0px'>Toll-free: 800-929-4040</p>
			<p style='padding:2.5px 0px'>Main: 703-691-3179</p>
			<p style='padding:2.5px 0px'>Fax: 703-691-2713</p>
 
		</div>
	</div>
	<div style='clear:both'></div>
</div>
<script>
	$('.sub_form').on('click', function(){
		$('.inactive').trigger('click');
	})
</script>