<div class="col-xs-12 form-row">
	<p class='form-label'>Name</p>
	<%= f.input :name, label: false, input_html: { class: "req" }   %>
	<span class='feedback'></span>
</div>
<div class="col-xs-12 form-row">
	<p class='form-label'>Verifcation</p>
	<%= f.input :verification, label: false, input_html: { class: "req" }  %>
	<span class='feedback'></span>
</div>		
<div class="col-xs-12 form-row">
	<p class='form-label'>Hours</p>
	<%= f.input :expiration, label: false, as: :date %>
	<span class='feedback'></span>
</div>
<div class="col-xs-12 form-row emp_role">
	<p class='form-label'>Role</p>
		<%= f.simple_fields_for :restaurant_roles do |builder| %>
 			<%= render "restaurant_role_fields" , :f => builder %>
 		<% end %>
 		<div class="role-click">
 			<%= link_to_add_fields "Add Role", f, :restaurant_roles %>
 		</div>	

</div>

<script>

</script>
