<%= simple_form_for [ current_user,@restaurant ], html: {novalidate: true} do |f| %>

	<div class="col-sm-12 col-xs-12">
		<div class="col-xs-12 form-row validate name">
			<p class='form-label'>Restaurant Name*</p>
			<%= f.input :name, label: false, input_html: { class: "req" }   %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Publish</p>
			<%= f.input :is_visible, label: false, input_html: { class: "req" },  as: :boolean   %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row validate address">
			<p class='form-label'>Address*</p>
			<%= f.input :address, label: false, input_html: { class: "req" } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row validate city">
			<p class='form-label'>City*</p>
			<%= f.input :city, label: false, input_html: { class: "req" } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row state">
			<p class='form-label'>State*</p>
			<%= f.input :state, collection: @states, include_blank: 'Select...',required: true, label: false, input_html: { class: "req" } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row validate zip">
			<p class='form-label'>Zip Code*</p>
			<%= f.input :zip, label: false, as: :string, input_html: { class: "req" } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<div class="no-label-wrap">
				<span id='check'>Check Address</span>. You may move the pin to a desired location.
			</div>
		</div>
		<div class="col-xs-12 form-row">
			<div class="no-label-wrap">
				<div class="map-wrap">	
					<div id="map-canvas" ></div>
					<%= f.input :repos, label: false, as: :hidden %>
				</div>
			</div>
		</div>

		<div class="white-space"></div>

	
		<h2>Add Safe Aware Employees</h2>
		<div class="col-xs-12 form-row">
			<div class="blue-form">
				<div class="col-xs-12">
					<%= f.simple_fields_for :aware_employees do |builder| %>
						<%= render "edit_aware_employee_fields", :f => builder %>
					<div class="col-xs-12 form-row">
						<div class="no-label-wrap">
							<%= link_to "Remove Employee", user_restaurant_aware_employee_path(current_user, @restaurant, builder.object.id), :method => :delete, :class => 'nav-link orange' %>
						</div>
					</div>
					<hr>
					<% end %>
					<%= link_to_add_fields "Add An Employee", f, :aware_employees %>
				</div>
			</div>
		</div>




		<h2>Restaurant Information</h2>
		<div class="col-xs-12 form-row validate number_of_employees">
			<p class='form-label'>Total Number of Employees*</p>
			<%= f.input :total_employees, label: false, input_html: { class: "req", min: '0' } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Hours</p>
			<%= f.input :hours, label: false %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Neighborhood</p>
			<%= f.association :neighborhoods, label:false, multiple: true, collection: Neighborhood.all, label_method: :name, value: :id, input_html: { class: "chosen-select req", multiple: true }  %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Description</p>
			<%= f.input :description, label: false %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Cuisine</p>
			<%= f.association :cuisines, multiple: true, label:false, collection: Cuisine.all, label_method: :name, value: :id, input_html: { class: "chosen-select req", multiple: true }  %>
			<span class='feedback'></span>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Allergy Eats</p>
			<%= f.input :allergy_eats_url, label: false %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Logo</p>
			<%= f.file_field :logo, label: false, input_html: { class: "req" }   %>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Image</p>
			<%= f.file_field :image, label: false, input_html: { class: "req" }   %>
		</div>

		<div class="white-space"></div>

		<h2>Contact/Social Network Information</h2>
		<div class="col-xs-12 form-row validate email">
			<p class='form-label'>Email*</p>
			<%= f.input :email, label: false, input_html: { class: "req" }  %>
			<div class='feedback'><div></div></div>
		</div>		
		<div class="col-xs-12 form-row">
			<p class='form-label'>Phone</p>
			<%= f.input :phone, label: false %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Website</p>
			<%= f.input :website, label: false %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Facebook</p>
			<%= f.input :facebook_url, label: false %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Twitter</p>
			<%= f.input :twitter_url, label: false %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<div class="no-label-wrap">
				<%= f.button :submit, :class => "nav-link left" %>
				<div class="nav-link orange signup">
					<%= link_to "Delete Restaurant", user_restaurant_path(current_user, @restaurant), :method => :delete, :class => 'action' %>
				</div>
			</div>
		</div>
	</div>
	
<% end %>
<% if @restaurant.repos == '' %>
	<script>
		initialize();
		
			var address = $('#restaurant_address')[0];
			var city = $('#restaurant_city')[0];
			var state = $('#restaurant_state')[0];
			var params = $(address).val() + ',' + $(city).val() + ',' + $(state).val() ;
			var params = params.replace(/\s+/g, '+')
				if (params.length < 5) {
					alert('please provide a valid address');
				}else{
					geocode(params);
				}
		
	</script>
<%else%>
	<script>
			initialize();
			parseLoc(<%= @restaurant.repos %>);		
			$('#map-canvas').animate({opacity:1},500);
	</script>
<%end%>

<script>
$( "#check" ).click(function() {
	  event.preventDefault();
	  var address = $('#restaurant_address')[0];
	  var city = $('#restaurant_city')[0];
	  var state = $('#restaurant_state')[0];
	  var params = $(address).val() + ',' + $(city).val() + ',' + $(state).val() ;
  	  params = params.replace(/\s+/g, '+')
	  if (params.length < 5) {
	  	alert('please provide a valid address');
	  }else{

	  	geocode(params);
		
		}
	  });
$('.chosen-select').chosen();
$('input, textarea, .select').on('blur',function(){ 
	var id = $(this).attr('id');
	if ( validate_element(this) == true ){
		$("#" + id).css('border', '1px solid green');
	}else{
		$("#" + id).css('border', '1px solid red');
	}
});

$('.add_fields').on('click', function(){
	setTimeout(function(){
		$('.role-click a').trigger('click');
	}, 10)
		$('.role-click a').css('display', 'none');
		$('.role-click a').remove();
})
	$('.sub').on('click', function(){
		$('.submit').trigger('click');
	})

</script>
