<%= simple_form_for [current_user,@restaurant] do |f| %>
	<div class='wrapper col-md-12' style='clear:both'>
		<!-- left side -->
		<div class="col-sm-6 ">
			<div class="row" id='name'>
				<p> Name </p>
				<div class="form"><%= f.input :name, label: false, input_html: { class: "req" }   %></div>	
			</div>
			<div class="row" id='address'>
				<p>Address</p>
				<div class="form"><%= f.input :address, label: false, input_html: { class: "req" }   %></div>
				<a href='' style='float:left' id='check'>Check Address</a>
			</div>
			<div class="row" id='city'>
				<p>City</p>
				<div class="form"><%= f.input :city, label: false, input_html: { class: "req" }   %></div>
			</div>

			<div class="row" id='state'>
				<p>State</p>
				<div class="form"><%= f.input :state, collection: @states, include_blank: 'Select...',required: true, label: false, input_html: { class: "chosen-select req" } %></div>
			</div>
			<div class="row" id='zip'>
				<p>Zip</p>
				<div class="form"><%= f.input :zip, label: false, input_html: { class: "req" }   %></div>
			</div>
			<div class="row" id='email'>
				<p>Email</p>
				<div class="form"><%= f.input :email, label: false, input_html: { class: "req" }   %></div>
			</div>
			<div class="row" id='phone'>
				<p>Phone</p>
				<div class="form"><%= f.input :phone, label: false, input_html: { class: "req" }   %></div>
			</div>
			<div class="row" id='hours'>
				<p>Hours</p>
				<div class="form"><%= f.input :hours, label: false, input_html: { class: "req" }   %></div>
			</div>
			<div class="row" id='website'>
				<p>Website</p>
				<div class="form"><%= f.input :website, label: false, input_html: { class: "req" }   %></div>
			</div>
			<div class="row" id='fb_url'>
				<p>Facebook</p>
				<div class="form"><%= f.input :facebook_url, label: false, input_html: { class: "req" }   %></div>
			</div>
			<div class="row" id='tw_url'>
				<p>Twitter</p>
				<div class="form"><%= f.input :twitter_url, label: false, input_html: { class: "req" }   %></div>
			</div>
			<%= f.input :repos, label: false, as: :hidden %>
			<div class="row" id='ae_url'>
				<p>Alergy Eats</p>
				<div class="form"><%= f.input :allergy_eats_url, label: false, input_html: { class: "req" }   %></div>
			</div>
			<div class="row" id='total_employees'>
				<p>Total Employees</p>
				<div class="form"><%= f.input :total_employees, label: false, input_html: { class: "req" }   %></div>
			</div>
			<div class="row" id='percent_aware'>
				<p class='val'><%= @restaurant.percent_aware %></p>
			</div>
		</div>
		<!-- right side -->
		<div class="col-sm-6">
			<div class="row" id='logo'>
				<div class="image"><%= image_tag @restaurant.logo_url %></div>
				<%= f.file_field :logo, label: false, input_html: { class: "req" }   %>
			</div>
			<div class="row" id='visible'>
				<p>Visible:
				<%= f.input :is_visible, label: false, input_html: { class: "req" },  as: :radio_buttons   %>
			</p>
			</div>
			<div class="row" id='description'>
				<p>Description</p>
				<div class="form"><%= f.input :description, label: false, input_html: { class: "req" }   %></div>
			</div>	
				
			<div class="row" id='add_new_cuisine'>
				<%= f.association :cuisines, multiple: true, collection: Cuisine.all, label_method: :name, value: :id, input_html: { class: "chosen-select req", multiple: true, style: 'width:255px; height:200px;'}  %>
				<%= f.association :neighborhoods, multiple: true, collection: Neighborhood.all, label_method: :name, value: :id, input_html: { class: "chosen-select req", multiple: true, style: 'width:255px; height:200px;'}  %>
			</div>

			<div class="row" style='margin-top:20px;'id='employee'>
				<h2> Aware Employees </h2>
			
				<% @restaurant.aware_employees.each_with_index do |employee, index| %>
					<div class="col-sm-4 col-xs-8"> 
						<%= employee.name %>
					</div> 
					<a style='cursor:pounter;'class="col-sm-4 col-xs-2 edit <%= index %> " id = '<%= employee.id %>'>| edit |</a> 
					<div class="col-sm-4 col-xs-2 "> <%= link_to "Delete", user_restaurant_aware_employee_path(current_user, @restaurant, employee), :method => :delete, :class => 'action' %></div> 
				<% end %> 
			</div>

			<div class="col-xs-12 form-row">
			<%= f.simple_fields_for :aware_employees do |h| %>
				<div class="col-xs-12 form-row">
					<p class='form-label'>Name</p>
						<%= h.input :name, label: false, input_html: { class: "req" }   %>
					<span class='feedback'></span>
				</div>
				<div class="col-xs-12 form-row">
					<p class='form-label'>Verifcation</p>
					<%= h.input :verification, label: false, input_html: { class: "req" }  %>
					<span class='feedback'></span>
				</div>		
				<div class="col-xs-12 form-row">
					<p class='form-label'>Hours</p>
					<%= h.input :expiration, label: false, as: :date %>
					<span class='feedback'></span>
				</div>
				<div class="col-xs-12 form-row">
	<p class='form-label'>Role</p>
<%= h.association :restaurant_roles, label: false, multiple: true, collection: Role.all, label_method: :role, value: :id, input_html: { class: "chosen-select req", multiple: true, style: 'width:255px; height:200px;'}  %>
</div>
			<% end %>
		</div>
			
	<%= f.button :submit %>

		</div>
		<div id="map-canvas"/>
		<div style='clear:both'></div>	
	</div>
<% end %>
<!-- scripts -->
<% if @restaurant.repos == '' %>
	<script>
		initialize();
		
			var address = $('#restaurant_address')[0];
			var city = $('#restaurant_city')[0];
			var state = $('#restaurant_state')[0];
			var params = $(address).val() + ',' + $(city).val() + ',' + $(state).val() ;
			var params = params.replace(/\s+/g, '+')
				if (params.length < 5) {
					alert('please provide a valid address');
				}else{
					geocode(params);
				}
		
	</script>
<%else%>
	<script>
			initialize();
			console.log(<%= @restaurant.repos %>)
			parseLoc(<%= @restaurant.repos %>);		
	</script>
<%end%>


<script>
	$('.chosen-select').chosen();
	$('.edit_form, .new_emp').toggle();
	$('.edit_form').each(function(index){
		$(this).addClass(''+index+'');
	});
	$('.edit').click(function(){
		var index = $(this).attr('class').split(' ')[3];
		$('.edit_form.'+index).fadeToggle();
		$(window).scrollTop($(document).height(), 500);
	})

	$('input, textarea, .select').keyup(function(){ 
		var id = $(this).attr('id');
		if ( validate_element(this) == true ){
			$("#" + id).css('border', '1px solid green');
		}else{
			$("#" + id).css('border', '1px solid red');
		}
	});
	$('#add_form').bind('click', function(e){
		var next = $('#new_employee_forms li.inactive')[0];
	  if(next){
	     $(next).removeClass('inactive');   
	     $(next).addClass('active').fadeIn();         
	  }
	  else{
	     alert('maximum of 3 employees at a time');
	  }      
	});
	 
</script>