<%= simple_form_for [ current_user,@restaurant ], html: {novalidate: true} do |f| %>

	<div class="col-sm-12 col-xs-12">
		<div class="col-xs-12 form-row validate name">
			<p class='form-label' style=''>Restaurant Name<span class='required_field'>*</span></p>
			<%= f.input :name, label: false, input_html: { class: "req" }   %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Visible</p>
			<%= f.input :is_visible, label: false, input_html: { class: "req" },  as: :radio_buttons    %>
			<div class='feedback'><div></div></div>
			 <p class="disclaim">Choose <span class='required_field'>No</span> only if you do not want <span class='required_field'><%= @restaurant.name %></span> to show up in search results.</p>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Kid Friendly</p>
			<%= f.input :kid_friendly, label: false, input_html: { class: "req margin-top" }, as: :radio_buttons    %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row validate address">
			<p class='form-label'>Address<span class='required_field'>*</span></p>
			<%= f.input :address, label: false, input_html: { class: "req" } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row validate city">
			<p class='form-label'>City<span class='required_field'>*</span></p>
			<%= f.input :city, label: false, input_html: { class: "req" } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row state">
			<p class='form-label'>State<span class='required_field'>*</span></p>
			<%= f.input :state, collection: @states, include_blank: 'Select...',required: true, label: false, input_html: { class: "req" } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row validate zip">
			<p class='form-label'>ZIP<span class='required_field'>*</span></p>
			<%= f.input :zip, label: false, as: :string, input_html: { class: "req" } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<div class="no-label-wrap">
				<span id='check'>Check Address</span>. You may move the pin to a desired location.
			</div>
		</div>
		<div class="col-xs-12 form-row">
			<div class="no-label-wrap">
				<div class="map-wrap">	
					<div id="map-canvas" ></div>
					<%= f.input :repos, label: false, as: :hidden %>
				</div>
			</div>
		</div>
		
		<div class="col-xs-12 form-row validate number_of_employees">
			<p class='form-label'>Total Number of Employees<span class='required_field'>*</span></p>
			<%= f.input :total_employees, label: false, input_html: { class: "req", min: '0' } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Hours</p>
			<%= f.input :hours, label: false, input_html: { placeholder:'8AM-7PM M-F', class: "req", min: '0' } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Neighborhood</p>
			<%= f.association :neighborhoods, label:false, multiple: true, collection: Neighborhood.all, label_method: :name, value: :id, input_html: { class: "chosen-select req", multiple: true }  %>
			<div class='feedback'><div></div></div>
			<p class="disclaim">Please begin by entering in a neighborhood. Your neighborhood will be autofill. You can choose multiple. If you don't see your neighborhood, feel free to contact us.</p>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Food Allergy Policies</p>
			<%= f.input :description, label: false %>
			<div class='feedback'><div></div></div>
			 <p class="disclaim">Please describe your policies (e.g., Please advise the hostess of your allergies and ask for Executive Chef Matt Smith).</p>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Cuisine</p>
			<%= f.association :cuisines, multiple: true, label:false, collection: Cuisine.all, label_method: :name, value: :id, input_html: { class: "chosen-select req", multiple: true }  %>
			<span class='feedback'></span>
			<p class="disclaim">Please begin by entering in a cuisine type. Your cuisine will be autofill. You can choose multiple cuisines.</p>
		</div>
		<% if @restaurant.logo.url != nil%>
			<div class="white-space"></div>
			<div class="col-xs-12 form-row">
				<p class='form-label'>Current Logo</p>
			<img src='<%=@restaurant.logo.url %>'>
			</div>
		<% end %>
		<% if @restaurant.image.url != nil %>
			<div class="col-xs-12 form-row">
				<p class='form-label'>Current Image</p>
				<img src='<%=@restaurant.image.url %>'>
			</div>
		<% end %>
		<div class="white-space"></div>
		<h2><% if @restaurant.logo.url != nil%>Change<%end%> Logo/Image</h2>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Logo</p>
			<%= f.file_field :logo, label: false, input_html: { class: "req" }   %>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Image</p>
			<%= f.file_field :image, label: false, input_html: { class: "req" }   %>
		</div>

		<div class="white-space"></div>

		<h2>Contact/Social Network Information</h2>
		<div class="col-xs-12 form-row validate email">
			<p class='form-label'>Email<span class='required_field'>*</span></p>
			<%= f.input :email, label: false, input_html: { class: "req" }  %>
			<div class='feedback'><div></div></div>
		</div>		
		<div class="col-xs-12 form-row">
			<p class='form-label'>Phone</p>
			<%= f.input :phone, label: false, input_html: {placeholder: "(888)-888-8888"} %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Website</p>
			<%= f.input :website, label: false, input_html: {placeholder: "http://www.YourGreatRestaurant.com"} %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Facebook</p>
			<%= f.input :facebook_url, label: false, input_html: {placeholder: "http://www.facebook.com/YourGreatRestaurant.com"} %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Twitter</p>
			<%= f.input :twitter_url, label: false, input_html: {placeholder: "@YourGreatRestaurant"} %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Allergy Eats</p>
			<%= f.input :allergy_eats_url, label: false %>
			<div class='feedback'><div></div></div>
			<p class='disclaim'>If your restaurant is listed on www.AllergyEats.com, please add the AllergyEats URL here.</p>
		</div>

		<div class="white-space"></div>

	
		<h2>Add Allergy Aware Employees</h2>
		<div class="col-xs-12 form-row">
			<div class="blue-form">
				<div class="col-xs-12">
					<%= f.simple_fields_for :aware_employees do |builder| %>
						<%= render "edit_aware_employee_fields", :f => builder %>
					<div class="col-xs-12 form-row">
						<div class="no-label-wrap">
							<%= link_to "Remove Employee", user_restaurant_aware_employee_path(current_user, @restaurant, builder.object.id), :method => :delete, :class => 'nav-link orange' %>
						</div>
					</div>
					<hr>
					<% end %>
					<%= link_to_add_fields "Add An Employee", f, :aware_employees %>
					<div class='remove_fields'>Remove An Employee</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 form-row">
		
				<%= f.button :submit, :class => "nav-link left" %>
				<div class="nav-link orange signup">
					<%= link_to "Delete Restaurant", user_restaurant_path(current_user, @restaurant), :method => :delete, :class => 'action' %>
				</div>
			
		</div>
	</div>
	
<% end %>
<% if @restaurant.repos == '' %>
	<script>
		initialize();
		
			var address = $('#restaurant_address')[0];
			var city = $('#restaurant_city')[0];
			var state = $('#restaurant_state')[0];
			var params = $(address).val() + ',' + $(city).val() + ',' + $(state).val() ;
			var params = params.replace(/\s+/g, '+')
				if (params.length < 5) {
					alert('please provide a valid address');
				}else{
					geocode(params);
				}
		
	</script>
<%else%>
	<script>
			initialize();
			parseLoc(<%= @restaurant.repos %>);		
			$('#map-canvas').animate({opacity:1},500);
	</script>
<%end%>

<script>
if (isIE) {$('.ie-gonem, .role-click a').fadeOut();}
$( "#check" ).click(function() {
	  event.preventDefault();
	  var address = $('#restaurant_address')[0];
	  var city = $('#restaurant_city')[0];
	  var state = $('#restaurant_state')[0];
	  var params = $(address).val() + ',' + $(city).val() + ',' + $(state).val() ;
  	  params = params.replace(/\s+/g, '+')
	  if (params.length < 5) {
	  	alert('please provide a valid address');
	  }else{

	  	geocode(params);
		
		}
	  });
$('.chosen-select').chosen({placeholder_text_multiple: '-------------------'});
$('input, textarea, .select').on('blur',function(){ 
	var id = $(this).attr('id');
	if ( validate_element(this) == true ){
		$("#" + id).css('border', '1px solid green');
	}else{
		$("#" + id).css('border', '1px solid red');
	}
});

$('.add_fields').on('click', function(){
	setTimeout(function(){
		$('.role-click a').trigger('click');
	}, 10)
		$('.role-click a').css('display', 'none');
		$('.role-click a').remove();
})
	$('.sub').on('click', function(){
		$('.submit').trigger('click');
	})

</script>
