<div class="col-xs-12 form-row edit">
	<p class='form-label'>Name</p>
	<%= f.input :name, label: false, input_html: { class: "req" }   %>
	<span class='feedback'></span>
</div>
<div class="col-xs-12 form-row edit">
	<p class='form-label'>Verifcation</p>
	<%= f.input :verification, label: false, input_html: { class: "req" }  %>
	<span class='feedback'></span>
</div>	
<div class="col-xs-12 form-row edit">
	<p class='form-label'>Certification Type</p>
		<%= f.input :cert_type, collection: @type, include_blank: 'Select...',required: true, label: false, input_html: { class: "chosen-select" } %>
	<span class='feedback'></span>
</div>		
<div class="col-xs-12 form-row edit">
	<p class='form-label'>Hours</p>
	<%= f.input :expiration, label: false, as: :date %>
	<span class='feedback'></span>
</div>
<div class="col-xs-12 form-row emp_role edit">
	<p class='form-label'>Role</p>
		<%= f.association :roles, label:false, multiple: true, collection: Role.all, label_method: :role, value: :id, input_html: { class: "chosen-select req", multiple: true, style: 'width:255px; height:200px;'}  %>
 		
</div>

