
	<%= simple_form_for [ @user,@restaurant ], html: {novalidate: true} do |f| %>
	<div class="col-sm-12 col-xs-12">
		<div class="col-xs-12 form-row validate name">
			<p class='form-label'>Restaurant Name<span class='required_field'>*</span></p>
			<%= f.input :name, label: false, input_html: { class: "req", value: $old_form == '' || $old_form == nil ? '' : $old_form.name }   %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row validate address">
			<p class='form-label'>Address<span class='required_field'>*</span></p>
			<%= f.input :address, label: false, input_html: { class: "req", value: $old_form == '' || $old_form == nil ? '' : $old_form.address  } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row validate city">
			<p class='form-label'>City<span class='required_field'>*</span></p>
			<%= f.input :city, label: false, input_html: { class: "req", value: $old_form == '' || $old_form == nil ? '' : $old_form.city  } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row state">
			<p class='form-label'>State<span class='required_field'>*</span></p>
			<%= f.input :state, collection: @states, include_blank: 'Select...',required: true, label: false, input_html: { class: "req" } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row validate zip">
			<p class='form-label'>ZIP<span class='required_field'>*</span></p>
			<%= f.input :zip, label: false, as: :string, input_html: { class: "req", value: $old_form == '' || $old_form == nil ? '' : $old_form.zip  } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<div class="no-label-wrap">
				<span class='ie-gone' id='check'>Check Address</span>. <span class='ie-gone'>You may move the pin to a desired location.</span>
			</div>
		</div>
		<div class="col-xs-12 form-row">
			<div class="no-label-wrap">
				<div class="map-wrap">	
					<div id="map-canvas" ></div>
					<%= f.input :repos, label: false, as: :hidden %>
				</div>
			</div>
		</div>

		<div class="white-space"></div>

		<div class="col-xs-12 form-row validate number_of_employees">
			<p class='form-label'>Total Number of Employees<span class='required_field'>*</span></p>
			<%= f.input :total_employees, label: false, input_html: { class: "req", min: '0',value: $old_form == '' || $old_form == nil ? '' : $old_form.total_employees  } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Food Allergy Policies</p>
			<%= f.input :description, label: false, input_html: { value: $old_form == '' || $old_form == nil ? '' : $old_form.description  } %>
			<div class='feedback'><div></div></div>
			 <p class="disclaim">Please describe your policies (e.g., Please advise the hostess of your allergies and ask for Executive Chef Matt Smith).</p>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Hours</p>
			<%= f.input :hours, label: false, input_html: {placeholder:'8AM-7PM M-F', value: $old_form == '' || $old_form == nil ? '' : $old_form.hours  } %>
			<div class='feedback'><div></div></div>
		</div>
		
		<div class="col-xs-12 form-row neighborhood">
			<%= f.simple_fields_for :areas do |h| %>
				<p class='form-label'>Neighborhood</p>
				<%= h.input :neighborhood_id, collection: Neighborhood.all, multiple: true, value: :id, label: false, input_html: { class: "chosen-select req", multiple: true, } %>
			<% end %>
			<div class='feedback'><div></div></div>
			<p class="disclaim">If the correct neighborhood does not appear in the drop-down box below, please contact <a>admin@safefare.org</a> and we will follow up within two business days.</p>
		</div>
		<div class="col-xs-12 form-row cuisine">
			<%= f.simple_fields_for :type_of_cuisines do |h| %>
				<p class='form-label'>Cuisine</p>
				<%= h.input :cuisine_id, collection: Cuisine.all, multiple: true, value: :id, label: false, input_html: { class: "chosen-select req", multiple: true} %>
			<% end %>
			<div class='feedback'><div></div></div>
			 <p class="disclaim">Please begin by entering in a cuisine type. Your cuisine will be autofill. You can choose multiple cuisines.</p>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Kid Friendly</p>
			<%= f.input :kid_friendly, label: false, input_html: { class: "req margin-top" },  as: :radio_buttons   %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Logo</p>
			<%= f.file_field :logo, label: false, input_html: { class: "req" }   %>
			 <p class="disclaim">We recommend using a photo around 200 x 200 </p>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Image</p>
			<%= f.file_field :image, label: false, input_html: { class: "req" }   %>
			<p class="disclaim">We recommend using a photo around 300 x 300 </p>
		</div>

		<div class="white-space"></div>

		<h2>Contact/Social Network Information</h2>
		<div class="col-xs-12 form-row validate email">
			<p class='form-label'>Email<span class='required_field'>*</span></p>
			<%= f.input :email, label: false, input_html: { placeholder: "email@example.com", class: "req", value: $old_form == '' || $old_form == nil ? '' : $old_form.email   }  %>
			<div class='feedback'><div></div></div>
		</div>		
		<div class="col-xs-12 form-row">
			<p class='form-label'>Phone</p>
			<%= f.input :phone, as: :tel, label: false,input_html: {placeholder: "(888)-888-8888", value: $old_form == '' || $old_form == nil ? '' : $old_form.phone   } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Website</p>
			<%= f.input :website, label: false, input_html: {placeholder:"http://www.YourGreatRestaurant.com", value: $old_form == '' || $old_form == nil ? '' : $old_form.website   } %>
			<div class='feedback'><div></div></div>
			<p class="disclaim">Please include http://www.</p>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Facebook</p>
			<%= f.input :facebook_url, label: false, input_html: {placeholder:"http://www.facebook.com/YourGreatRestaurant", value: $old_form == '' || $old_form == nil ? '' : $old_form.facebook_url   } %>
			<div class='feedback'><div></div></div>
			<p class="disclaim">Please include http://www.</p>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Twitter</p>
			<%= f.input :twitter_url, label: false, input_html: {placeholder:"http://www.twitter.com/YourGreatRestaurant", value: $old_form == '' || $old_form == nil ? '' : $old_form.twitter_url   } %>
			<div class='feedback'><div></div></div>
			<p class="disclaim">Please include http://www.</p>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Allergy Eats</p>
			<%= f.input :allergy_eats_url, label: false, input_html: { value: $old_form == '' || $old_form == nil ? '' : $old_form.allergy_eats_url   } %>
			<div class='feedback'><div></div></div>
			<p class='disclaim'>If your restaurant is listed on www.AllergyEats.com, please add the AllergyEats URL here.</p>
		</div>
		<div class="white-space"></div>

		<h2>Add Allergy Aware Employees</h2>
		<p style='font-size:12px;'>Please add the names of employees who have completed the ServSafe Allergens course or AllerTrain program, including training certificate numbers and expiration dates.</p>
		<div class="col-xs-12 form-row">
			<div class="blue-form">
				<div class="col-xs-12 form-row">
					<%= f.simple_fields_for :aware_employees do |builder| %>
						 <%= render "aware_employee_fields", :f => builder %>
					<% end %>
					<%= link_to_add_fields "Add An Employee", f, :aware_employees %>
					<div class='remove_fields'>Remove An Employee</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 form-row">
			
				<%= f.button :submit, :class => "nav-link" %>
			
		</div>
	</div>
<% end %>
<script>
if (isIE) {$('.ie-gone, .role-click a').fadeOut();}
(function() {
	$( "#check" ).on('click',function(event) {
		console.log('click');
		var address = $('#restaurant_address')[0];
		var city = $('#restaurant_city')[0];
		var state = $('#restaurant_state')[0];
		var params = $(address).val() + ',' + $(city).val() + ',' + $(state).val() ;
			params = params.replace(/\s+/g, '+')
		if (params.length < 5) {
			alert('please provide a valid address');
		} else{
			console.log('another');
			geocode(params);
		}
	});
	  $('.chosen-select').chosen({placeholder_text_multiple: '-------------------'});

	$('input, textarea, .select').on('blur',function(){ 
		var id = $(this).attr('id');
		if ( validate_element(this) == true ){
			$("#" + id).css('border', '1px solid green');
		}else{
			$("#" + id).css('border', '1px solid red');
		}
	});

	$('.add_fields').on('click', function(){
		setTimeout(function(){
			$('.role-click a').trigger('click');
		}, 10)
		$('.role-click a').css('display', 'none');
		$('.role-click a').remove();
	});
})();
</script>
