<%= simple_form_for [ @user,@restaurant ], html: {novalidate: true} do |f| %>
	<div class="col-sm-6 col-xs-12">
		<div class="col-xs-12 form-row name validate">
			<p class='form-label'>Name</p>
			<%= f.input :name, label: false, input_html: { class: "req" }   %>
			<span class='feedback'></span>
		</div>
		<div class="col-xs-12 form-row email validate">
			<p class='form-label'>Email</p>
			<%= f.input :email, label: false, input_html: { class: "req" }  %>
			<span class='feedback'></span>
		</div>		
		<div class="col-xs-12 form-row">
			<p class='form-label'>Hours</p>
			<%= f.input :hours, label: false %>
			<span class='feedback'></span>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Phone</p>
			<%= f.input :phone, label: false %>
			<span class='feedback'></span>
		</div>
		
		<%= f.input :repos, label: false, as: :hidden %>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Website</p>
			<%= f.input :website, label: false %>
			<span class='feedback'></span>
		</div>
		<div class="col-xs-12 form-row number_of_employees validate">
			<p class='form-label'>Number of Employees</p>
			<%= f.input :total_employees, label: false, input_html: { class: "req" } %>
			<span class='feedback'></span>
		</div>

		<div class="col-xs-12 form-row">
			<p class='form-label'>Description</p>
			<%= f.input :description, label: false %>
			<span class='feedback'></span>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Facebook</p>
			<%= f.input :facebook_url, label: false %>
			<span class='feedback'></span>
		</div>

		<div class="col-xs-12 form-row cuisine validate">
			<%= f.simple_fields_for :type_of_cuisines do |h| %>
				<p class='form-label'>Cuisine</p>
				<%= h.input :cuisine_id, collection: Cuisine.all, multiple: true, value: :id, label: false, input_html: { class: "chosen-select req", multiple: true, style: 'width:255px; height:200px;'} %>
			<% end %>
			<span class='feedback'></span>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Twitter</p>
			<%= f.input :twitter_url, label: false %>
			<span class='feedback'></span>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Allergy Eats</p>
			<%= f.input :allergy_eats_url, label: false %>
			<span class='feedback'></span>
		</div>
		<div class="col-xs-12 form-row">
			<%= f.simple_fields_for :aware_employees do |builder| %>
				 <%= render "aware_employee_fields", :f => builder %>
				
			<% end %>
			<%= link_to_add_fields "Add An Employee", f, :aware_employees %>

		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<div class="col-xs-12 form-row">
			<p class='form-label text-left'>Logo</p>
		
				<%= f.file_field :logo, label: false, input_html: { class: "req" }   %>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label text-left'>Address</p>
			<%= f.input :address, label: false, input_html: { class: "req" } %>
			<span class='feedback'></span>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label text-left'>City</p>
			<%= f.input :city, label: false, input_html: { class: "req" } %>
			<span class='feedback'></span>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label text-left'>State</p>
			<%= f.input :state, collection: @states, include_blank: 'Select...',required: true, label: false, input_html: { class: "chosen-select" } %>
			<span class='feedback'></span>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label text-left'>Zip Code</p>
			<%= f.input :zip, label: false, input_html: { class: "req" } %>
			<span class='feedback'></span>
		</div>
		<div class="col-xs-12 form-row">
			<%= f.simple_fields_for :areas do |h| %>
				<p class='form-label text-left'>Neighborhood</p>
				<%= h.input :neighborhood_id, collection: Neighborhood.all, multiple: true, value: :id, label: false, input_html: { class: "chosen-select req", multiple: true, style: 'width:255px; height:200px;'} %>
			<% end %>
			<span class='feedback'></span><br>
			<p style='float:left; text-decoration:underline' id='check'>Check Address</p>
		</div>
		<div class="col-xs-12 form-row">		
			<div id="map-canvas" ></div>
			
		</div>
		<div class="col-xs-12 margin-top left">
			<%= f.button :submit, :class => "nav-link", class: 'inactive'%>
		</div>
	</div>
<% end %>

<script>

$('.chosen-select').chosen();

$('input, textarea, .select').on('blur',function(){ 
	var id = $(this).attr('id');
	if ( validate_element(this) == true ){
		$("#" + id).css('border', '1px solid green');
	}else{
		$("#" + id).css('border', '1px solid red');
	}
});

$('.add_fields').on('click', function(){
	setTimeout(function(){
		$('.role-click a').trigger('click');
	}, 10)
		$('.role-click a').css('display', 'none');
		$('.role-click a').remove();
})
</script>
