	<%= simple_form_for [ @user,@restaurant ], html: {novalidate: true} do |f| %>
	<div class="col-sm-12 col-xs-12">
		<div class="col-xs-12 form-row validate name">
			<p class='form-label'>Restaurant Name*</p>
			<%= f.input :name, label: false, input_html: { class: "req" }   %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row validate address">
			<p class='form-label'>Address*</p>
			<%= f.input :address, label: false, input_html: { class: "req" } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row validate city">
			<p class='form-label'>City*</p>
			<%= f.input :city, label: false, input_html: { class: "req" } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row state">
			<p class='form-label'>State*</p>
			<%= f.input :state, collection: @states, include_blank: 'Select...',required: true, label: false, input_html: { class: "req" } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row validate zip">
			<p class='form-label'>Zip Code*</p>
			<%= f.input :zip, label: false, as: :string, input_html: { class: "req" } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<div class="no-label-wrap">
				<span id='check'>Check Address</span>. You may move the pin to a desired location.
			</div>
		</div>
		<div class="col-xs-12 form-row">
			<div class="no-label-wrap">
				<div class="map-wrap">	
					<div id="map-canvas" ></div>
					<%= f.input :repos, label: false, as: :hidden %>
				</div>
			</div>
		</div>

		<div class="white-space"></div>

		<h2>Add Safe Aware Employees</h2>
		<div class="col-xs-12 form-row">
			<div class="blue-form">
				<div class="col-xs-12 form-row">
					<%= f.simple_fields_for :aware_employees do |builder| %>
						 <%= render "aware_employee_fields", :f => builder %>
					<% end %>
					<%= link_to_add_fields "Add An Employee", f, :aware_employees %>
				</div>
			</div>
		</div>

		<div class="white-space"></div>

		<h2>Restaurant Information</h2>
		<div class="col-xs-12 form-row validate number_of_employees">
			<p class='form-label'>Total Number of Employees*</p>
			<%= f.input :total_employees, label: false, input_html: { class: "req", min: '0' } %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Hours</p>
			<%= f.input :hours, label: false %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row neighborhood">
			<%= f.simple_fields_for :areas do |h| %>
				<p class='form-label'>Neighborhood</p>
				<%= h.input :neighborhood_id, collection: Neighborhood.all, multiple: true, value: :id, label: false, input_html: { class: "chosen-select req", multiple: true } %>
			<% end %>
			<div class='feedback'><div></div></div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Description</p>
			<%= f.input :description, label: false %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row cuisine">
			<%= f.simple_fields_for :type_of_cuisines do |h| %>
				<p class='form-label'>Cuisine</p>
				<%= h.input :cuisine_id, collection: Cuisine.all, multiple: true, value: :id, label: false, input_html: { class: "chosen-select req", multiple: true} %>
			<% end %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Allergy Eats</p>
			<%= f.input :allergy_eats_url, label: false %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Logo</p>
			<%= f.file_field :logo, label: false, input_html: { class: "req" }   %>
		</div>

		<div class="white-space"></div>

		<h2>Contact/Social Network Information</h2>
		<div class="col-xs-12 form-row validate email">
			<p class='form-label'>Email*</p>
			<%= f.input :email, label: false, input_html: { class: "req" }  %>
			<div class='feedback'><div></div></div>
		</div>		
		<div class="col-xs-12 form-row">
			<p class='form-label'>Phone</p>
			<%= f.input :phone, label: false %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Website</p>
			<%= f.input :website, label: false %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Facebook</p>
			<%= f.input :facebook_url, label: false %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<p class='form-label'>Twitter</p>
			<%= f.input :twitter_url, label: false %>
			<div class='feedback'><div></div></div>
		</div>
		<div class="col-xs-12 form-row">
			<div class="no-label-wrap">
				<%= f.button :submit, :class => "nav-link" %>
			</div>
		</div>
	
	</div>
<% end %>

<script>
(function() {
	$( "#check" ).click(function(event) {
		event.preventDefault();
		var address = $('#restaurant_address')[0];
		var city = $('#restaurant_city')[0];
		var state = $('#restaurant_state')[0];
		var params = $(address).val() + ',' + $(city).val() + ',' + $(state).val() ;
			params = params.replace(/\s+/g, '+')
		if (params.length < 5) {
			alert('please provide a valid address');
		} else{
			geocode(params);
		}
	});
	$('.chosen-select').chosen();

	$('input, textarea, .select').on('blur',function(){ 
		var id = $(this).attr('id');
		if ( validate_element(this) == true ){
			$("#" + id).css('border', '1px solid green');
		}else{
			$("#" + id).css('border', '1px solid red');
		}
	});

	$('.add_fields').on('click', function(){
		setTimeout(function(){
			$('.role-click a').trigger('click');
		}, 10)
		$('.role-click a').css('display', 'none');
		$('.role-click a').remove();
	});
})();
</script>
