<%= @restaurant.name %>

<%= @restaurant.address %>
<%= @restaurant.city %>
<%= @restaurant.state %>
<%= @restaurant.zip %>
<%= @restaurant.email %>
<%= @restaurant.phone %>
<%= @restaurant.hours %>
<%= @restaurant.website %>
<%= @restaurant.facebook_url %>
<%= @restaurant.twitter_url %>
<%= @restaurant.allergy_eats_url %>
<%= @restaurant.total_employees %>
<%= @restaurant.percent_aware %>
<%= @restaurant.description %>
<%= @restaurant.is_visible? %>


<div class="image"><%= image_tag @restaurant.logo_url.to_s %></div>
