<!DOCTYPE html>
<html>
<head>
  <title>SafeFARE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbqyE_ATNzMEVS_S-79LoBo6peBwoVa-o&sensor=true"></script>
  	
  <script type="text/javascript" src="//use.typekit.net/vmz8fhp.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<%  current_uri = request.env['PATH_INFO'] %>
<nav id="main-nav" class="navbar">
	<div class="navbar-inner">
		<div class="mobile-menu">
			<div id='mobile-nav'>Nav</div>
			<ul class='mobile-nav-items'>
				<li><a href="">Home</a></li>
				<li><a href="">About SafeFARE</a></li>
				<li><a href="">Find a Restaurant</a></li>
				<li><a href="">For Diners</a></li>
				<li><a href="">For Restaurants</a></li>			
			</ul>
		</div>
		<div class="sign-in">
			
				<% if user_signed_in? %>
				<%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'normalize') %>  
				<div class="nav-link" style='float:left'>
		 		   <%= link_to('My Account', current_user) %>
		 		</div>
					
		 		<% else %>
		 		<div class="nav-link">
		 		  <%= link_to "RESTAURANT LOGIN", '/for-restaurants' %> 
		 		 </div>
		 		<% end %> 
	 		</div>
		</div>
	</div>

</nav>

<div class="search">
		<div class="section-wrapper">
			<div class="safeFare-icon left col-sm-6 col-xs-12"><%= image_tag("logo.gif", :alt => "temp logo") %></div>
			<div class="safeFare-search right col-sm-6 col-xs-12" style='padding:0px;'>
				<h2 class='small-thick'>Find a Restaurant</h2>
				<p>Locate a food allergy aware restaurant near you.</p>
				<form name="search" action="/results" method="get">
					<input type="text" name="search" id='search' placeholder='Restaurant, Cuisine, etc.'>
					<input type="text" name="address" id='address' placeholder='Address, Zip, etc.'>
					<input type="submit" name="nil" data-role='none'id='submit-search' value='' >
				</form>
			</div>
		</div>
		<div style='clear:both'></div>
	</div>
	<div class="nav-full-bar">
		<div class="section-wrapper">
			<ul>
				<li><a href="/">Home</a></li>
				<li <% if current_uri == "/about"%> class="active"<%end%>><a href="/about">About SafeFARE</a></li>
				<li<% if current_uri == "/find-a-restaurant" || current_uri == '/results' %> class="active"<%end%>><a href="/find-a-restaurant">Find a Restaurant</a></li>
				<li<% if current_uri == "/for-diners"%> class="active"<%end%>><a href="/for-diners">For Diners</a></li>
				<li<% if current_uri == "/for-restaurants"%> class="active"<%end%>><a href="/for-restaurants">For Restaurants</a></li>			
			</ul>
		</div>
	</div>
<div class="alert notice"> <%= notice %> <%= alert %> </div>	
<div class="container-fluid">
		<%= yield %>
<div class="modal fade modal-lg" id="restaurantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-body col-sm-11 left"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

	<div class="footer-section">
		<div class="section-wrapper">
			<div class="contact-links col-sm-8 col-xs-12 padding">
				<ul>
					<li style='padding-left:0px;'><a href="/about/contact-us">Contact Us</a></li>
					<li><a href="">Sitemap</a></li>
					<li><a href="">Privacy Policy</a></li>
					<li><a href="">Disclaimer</a></li>
					<li><a href="http://www.foodallergy.org" rel="external">Learn about FARE</a></li>
					<div style='clear:both;'></div>
				</ul>
				<div class="copyright">
					<p>2014, Food Allergy Research and Education, Inc.</p>
					<p>7925 Jones Branch Dr., Suite 1100, McLean, VA 22102</p>
					<p>Phone: (800) 929-4040 | Fax: (703) 691-2713 </p>
				</div>
			</div>
			<div class="food-allergy-links col-sm-4 col-xs-12 padding">
					<div class="nav-link"><a href="http://www.foodallergy.org" rel="external">Visit FoodAllergy.org</a></div>
					<p style='text-align:right'>Find more information and resources for managing food allergies on <a href="http://www.foodallergy.org" rel="external">FARE’s website</a>.</p>					
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	$('a[rel="external"]').attr('target', '_blank');

});
</script>
</body>
</html>
