<!DOCTYPE html>
<html>
<head>
  <title>SafeFare</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbqyE_ATNzMEVS_S-79LoBo6peBwoVa-o&sensor=true"></script>
  <script type="text/javascript" src="//use.typekit.net/vmz8fhp.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<nav id="main-nav" class="navbar">
	<div class="navbar-inner">
		<div class="mobile-menu">
			<a href="#">Nav</a>
		</div>
		<div class="sign-in">
			<div class="nav-link">
				<% if user_signed_in? %>
		 		  <%= link_to 'Edit Restaurant', edit_user_registration_path %> 
		 		<% else %>
		 		  <%= link_to "RESTAURANT LOGIN", new_user_registration_path %> 
		 		 
		 		<% end %> 
	 		</div>
		</div>
	</div>
</nav>
<div class="container-fluid">
		<%= yield %>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
</div>
	
</body>
</html>
